app/config/*
!app/config/schema
!app/config/general.example.json
!app/config/db.example.json
!app/config/cores.example.json
!app/config/routes.json
!app/config/README.md
public/index.php
public/tmp
public/packages

Makefile
*.DS_Store

nbproject/*
nbproject/private/*
.settings
.buildpath
.project

*.lock
vendor
logs
